body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  
}

.all-content {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;;
  padding-bottom: 50px;
  justify-content: start;
}

.top,
.footer {
  color: white;
  background-color: rgb(31, 41, 55);
}

.header-top-bar {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  margin: 0;
  font-size: 24px;
  align-items: center;
  margin-bottom: 50px;
}

.header-top-bar p {
  display: flex;
  margin: 0;
}

.header-links {
  display: flex;
  gap: 30px;
  padding: 10px;
}

.top-full-content {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  gap: 20px;
}

.top-text-content {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  padding: 30px;
}

.top-text-content h1 {
  display: flex;
  flex: 1 1 auto;
  font-size: 48px;
  margin: 0;
  padding: 0;
  max-width: 300px;
}

.top-text-content h2 {
  display: flex;
  flex: 1 1 auto;
  margin: 0;
  max-width: 300px;
}

.top-text-content h2,
.header-links {
  font-size: 18px;
  font-weight: 100;
}

.top-full-content button {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  background-color: rgb(59, 130, 246);
  padding: 2px;
  border-radius: 20px;
  border-color: rgb(59, 130, 246);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  max-width: 90px;
}

.top-image {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  background-color: gray;
  max-height: 200px;
  max-width: 400px;
}

.top-text-content {
  display: flex;
  flex: 0 1 auto;
  margin: 0;
  padding: 0;
}

.middle-sec-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.middle-header{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
}

.bunch-of-illustrations{
  display: flex;
  gap: 40px;
}

.illustration {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 auto;
  max-width: 150px;
  flex-wrap: wrap;
}

.illustration p {
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
}

.illustration img{
  display: flex;
  flex: 0 0 auto;
  height: 150px;
  width: 150px;
  border: solid rgb(59, 130, 246);
  border-radius: 20px;

}

.middle-sec-2{
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  background-color: #E5E7EB;
}

.middle-sec-2 .quote {
  display: flex;
  flex: 1 1 auto;
  font-size: 26px;
  flex-wrap: wrap;
  font-weight: 50;
  max-width: 500px;
}

.middle-sec-2 .author-info {
  display: flex;
  justify-content: right;
  font-weight: 900;
}

.middle-sec-3 {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.middle-sec-3 .content {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  gap: 50px;
  background-color: #3882F6;
  color: white;
  height: 80px;
  border-radius: 20px;
  padding: 20px;
}

.middle-sec-3 .content p {
  display: flex;
  justify-content: left;
  margin: 0;
  padding-left: 30px;
}

.middle-sec-3 .content .call-to-action {
  font-size: 20px;
}

.middle-sec-3 .content .button {
  padding: 0 90px;
}

.middle-sec-3 .content button {
  background-color: #3882F6;
  color: white;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  border-color: white;
  padding: 15px;
}

.footer {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}
